<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Подтверждение почты</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body style="width:100%;max-width:700px;margin-top:auto;margin-bottom:auto;margin-right:auto;margin-left:auto;left:0;right:0;padding-top:20px;padding-bottom:20px;font-family:a_FuturicaBs;" >

	<div style="height: 400px; display: flex; flex-direction: center;">
		<table  style="width:90%; height: 90%; border-spacing:0px 0px;border-radius:15px;margin-top:20px;margin-bottom:20px;margin-right:auto;margin-left:auto;left:0;right:0;text-align:center;border-style:none;box-shadow:0px 2px 22px 1px black;" >
			<tr>
				<th style="font-size:22px;background-color:#1D0948;color:white;border-top-left-radius:15px;border-top-right-radius:15px;padding-top:5px;padding-bottom:0;padding-right:5px;padding-left:5px;font-weight:normal;" >
					<p>Здравствуйте, {{args["name"]}}, вы зарегистрировались на платформе WHAT YOU SAY by Cleverra!</p>
				</th>
			</tr>
			<tr>
				<td style="font-weight:bold;background-color:white;background-image:none;background-repeat:repeat;background-position:top;background-attachment:scroll;border-bottom-left-radius:15px;border-bottom-right-radius:15px;color:#F8622E;font-size:20px;" >
				<p>Пожалуйста, подтвердите регистрацию,<br> кликнув <a href="http://wys.cleverra.ru/secret/{{args['key']}}" style="text-decoration:none;" >СЮДА</a></p>
				<br>
				<hr style="width:90%;" >

				</td>
			</tr>
		</table>
	</div>

	



</body>
</html>
