@media (min-width: 1200px) {
  .center {
    padding-left: calc(50% - 560px);
    padding-right: calc(50% - 560px);
  }
}
@media (max-width: 1200px) {
  .center {
    padding-left: calc(50% - 400px);
    padding-right: calc(50% - 400px);
  }
}
@media (max-width: 992px) {
  .center {
    padding-left: calc(50% - 360px);
    padding-right: calc(50% - 360px);
  }
}
@media (max-width: 768px) {
  .center {
    padding-left: calc(50% - 260px);
    padding-right: calc(50% - 260px);
  }
}
@media (max-width: 576px) {
  .center {
    padding: 0 15px;
  }
}
@media (max-width: 320px) {
  .center {
    padding: 0px 0px;
  }
}

* {
  margin: 0;
  padding: 0;
  font-size: 16px;
}

body {
  background-image: url(../images/bg.jpg);
  width: 100vw;
  height: 100vh;
  background-size: cover;
  position: relative;
  box-sizing: border-box;
}
@media (min-width: 1200px) {
  body {
    padding: 15px;
  }
}
@media (max-width: 1200px) {
  body {
    padding: 15px;
  }
}
@media (max-width: 576px) {
  body {
    padding: 0px;
  }
}

.background {
  background-color: #fff;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  position: relative;
}

.main {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  height: 100%;
}

.logo {
  text-align: center;
  margin: 0 auto;
}

.logo-image {
  width: 100%;
  max-width: 420px;
}

.main-title {
  font-size: 2rem;
  padding-top: 2rem;
}

.form-container {
  background: linear-gradient(to top, #2d0a3e 0%, #37305a 79%);
  max-width: 480px;
  min-height: 390px;
  width: 100%;
  border-radius: 2px;
  text-align: left;
  margin: 6rem auto;
}

.changePassword-form {
  padding: 3rem;
}

.form-title {
  font-size: 1.5rem;
  color: #9C94BB;
  margin-bottom: 2rem;
  text-align: center;
}

.form-label {
  font-size: 1rem;
  color: #9C94BB;
  display: inline-block;
  margin-bottom: 0.2rem;
}

.form-input {
  width: 100%;
  box-sizing: border-box;
  border: none;
  border-radius: 2px;
  height: 2rem;
  padding: 0.25rem 0.5rem;
  font-size: 1rem;
  margin-bottom: 1rem;
}
.form-input:focus {
  outline: none;
}

.form-button {
  width: 100%;
  box-sizing: border-box;
  color: #fff;
  background-color: #F9632D;
  border: none;
  height: 2rem;
  margin-top: 1rem;
  border-radius: 2px;
}
.form-button:focus {
  outline: none;
}
.form-button:active {
  background-color: #D55526;
}

hr {
  margin-top: 2rem;
  margin-bottom: 1rem;
  border: 2px;
  border-top: 1px solid #9C94BB;
}