<!DOCTYPE html>
<html>
<head>
	<title>WhatYouSay - Регистрация</title>
	<link rel="icon" href="../static/images/favicon.ico">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="utf-8">
	<link rel="stylesheet" href="../static/css/changePassword.css">

</head>



<body>
	<div class="background">

			
		<div class="main center">
			<a href="#" class="logo">
				<img class="logo-image" src="../static/images/logo.png" alt="">
			</a>
			<section class="form-container">
				<form action="/changePassword/{{key}}" class="changePassword-form" method="post" id="recPassForm">
					<h1 class="form-title">Введите новый пароль</h1>
					<label for="firstPass" class="form-label">Новый пароль</label><br>
					<input type="text" class="form-input" id="firstPass"><br>
					<label for="secondPass" class="form-label">Подтверждение нового пароля</label><br>
					<input type="text" class="form-input" id="secondPass">
					<button type="submit" class="form-button">Подтвердить</button>
					<hr>
				</form>

			</section>
			
		</div>
	</div>




















<script type="text/javascript">
	function validatePaswords() {
		var run = true
		if(document.getElementById("firstPass").value.length < 6){
			run = false
			document.getElementById("firstPassLabel").style.display = "block"
		}else{
			document.getElementById("firstPassLabel").style.display = "none"
		}
		if(document.getElementById("firstPass").value != document.getElementById("secondPass").value){
			run = false
			document.getElementById("secondPassLabel").style.display = "block"
		}else{
			document.getElementById("secondPassLabel").style.display = "none"
		}
		if(run){
			document.getElementById("recPassForm").submit()
		}
	}
</script>









</body>
</html>