<!DOCTYPE html>
<html>
<head>
	<title>WhatYouSay - Регистрация</title>
	<link rel="icon" href="../static/images/favicon.ico">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="utf-8">
	<link rel="stylesheet" href="../static/css/changePassword.css">

</head>



<body>
	<div class="background">

			
		<div class="main center">
			<a href="#" class="logo">
				<img class="logo-image" src="../static/images/logo.png" alt="">
			</a>
			<h1 class="main-title">Бесплатная платформа анализа интернет-площадок <br> и сбора статистики</h1>
			<section class="form-container">
				
				<form action="/changePassword/{{key}}" class="changePassword-form" method="post" id="recPassForm">
					<h1 class="form-title">Введите новый пароль</h1>
					<label for="firstPass" class="form-label">Новый пароль</label><br>
					<input type="text" class="form-input" id="firstPass"><br>
					<label for="secondPass" class="form-label">Подтверждение нового пароля</label><br>
					<input type="text" class="form-input" id="secondPass">
					<button type="submit" class="form-button">Подтвердить</button>
					<hr>
				</form>

			</section>
			
		</div>
	</div>



























</body>
</html>